p, label {
	font-size: 16px;
	color: var(--texts);
	font-weight: 700;
}

h1 {
	font-size: 32px;
	font-weight: 700;
}

textarea {
	resize: vertical;
}

input {
	accent-color: var(--texts);
}

.btn {
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s ease;
	font-weight: 700;
}

.btn-type-a {
	background-color: var(--btn-background);
	color: var(--btn-text-a);
	border: none;
	&:hover {
		background-color: var(--texts);
	}
}

.btn-type-b {
	background-color: transparent;
	color: var(--btn-text-b);
	border: 1px solid var(--btn-text-b);
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s ease;
	font-weight: 700;
	&:hover {
		border: 1px solid var(--texts);
		color: var(--texts);
	}
}

.input {
	background-color: var(--input-background);
	border-radius: 5px;
	border: none;
	width: 100%;
	color: var(--titles);
	padding: 10px;
	transition: 0.3s ease;
	border: 1px solid var(--input-background);
	&:hover {
		border: 1px solid var(--input-placehoulder);
	}
	&::placeholder {
		color: var(--input-placehoulder);
	}
}